
<div class="body">
  <div class="form">
    <h2>Bienvenido {{datosPrevios.name}}</h2>
    <p class="correo">({{datosPrevios.email}})</p>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="title">Nombre</mat-label>
      <input matInput type="text" class="relleno" placeholder={{datosPrevios.name}} [(ngModel)]="datosPersonales.name">
    </mat-form-field><br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="title">Edad</mat-label>
      <input matInput type="text" class="relleno" placeholder=0 [(ngModel)]="datosPersonales.edad">
    </mat-form-field><br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="title">Localidad</mat-label>
      <input matInput type="text" class="relleno" placeholder=Localidad [(ngModel)]="datosPersonales.localidad">
    </mat-form-field><br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="title">Foto</mat-label>
      <input matInput type="text" class="relleno" placeholder="https://url.jpg" [(ngModel)]="datosPersonales.foto">
    </mat-form-field><br />


    <div class="wrap">
      <form action="" class="formulario">
        <div class="radio">
          <p>Género
          
          <input type="radio" id="Hombre" name="genero" value="Hombre" [(ngModel)]="datosPersonales.genero">
          <label for="hombre"><i class="fas fa-male"></i></label>
      
          <input class="" type="radio" id="Mujer" name="genero" value="Mujer" [(ngModel)]="datosPersonales.genero">
          <label for="mujer"><i class="fas fa-female"></i></label>
        </p>
        </div>
      
        <!-- <div class="checkbox">
          <h2>Checkboxines :D</h2>
          <input type="checkbox" name="checkbox" id="checkbox1">
          <label for="checkbox1">Checkboxin 1</label>
      
          <input type="checkbox" name="checkbox2" id="checkbox2">
          <label for="checkbox2">Checkboxin 2</label>
        </div> -->
      </form>
    </div>


    <!-- <label class="content-input">Genero<br />
      <input type="radio" id="Hombre" name="genero" value="Hombre" [(ngModel)]="datosPersonales.genero">
      <i></i> 
      <label for="Hombre">Hombre</label>
       <input type="radio" id="Mujer" name="genero" value="Mujer" [(ngModel)]="datosPersonales.genero" [checked]="true">
      <i></i>   
      <label for="Mujer">Mujer</label>
    </label><br> -->









    <label>Hobbies</label>
    <br>




    <input type="checkbox" id="Fumador" value="Fumador" [(ngModel)]="datosPersonales.fumador">
    <label for="Fumador">Fumador</label><br>
    <input type="checkbox" id="Deportista" value="Deportista" [(ngModel)]="datosPersonales.deportista">
    <label for="Deportista"> Deportista</label><br>
    <input type="checkbox" id="Cinefilo" value="Cinefilo" [(ngModel)]="datosPersonales.cinefilo">
    <label for="Cinefilo"> Cinefilo</label><br>
    <input type="checkbox" id="Playa" value="Playa" [(ngModel)]="datosPersonales.playa">
    <label for="Playa"> Playa</label><br>
    <input type="checkbox" id="Montana" value="Montana" [(ngModel)]="datosPersonales.montana">
    <label for="Montana"> Montaña</label><br>
    <br />
    <button class="register-but" mat-raised-button color="accent" (click)="agregarDatosPersonales()"
      routerLink='/display'>Enviar</button><br />

  </div>
</div>
