<div class="content">
  <div class="content-inside">
    <div class="icon-content">
      <img class="logo-icon" src="../assets/Lucatinder(SinFondo).png" />
    </div>
    <div class="div-form">
    <div class="form">
      <button class="register-but" mat-raised-button color="accent" routerLink='/'>Home</button><br />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="title">Nombre</mat-label>
        <input matInput type="text" class="relleno" placeholder="Nombre" [(ngModel)]="usuario.name">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="title">Password</mat-label>
        <input matInput type="password" class="relleno" placeholder="Nombre" [(ngModel)]="usuario.password">
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="title">Edad</mat-label>
        <input matInput type="text" class="relleno" placeholder="Nombre" [(ngModel)]="usuario.edad">
      </mat-form-field>



      <div class="gender">
  <label>Genero</label><br><br>
  <input type="radio" id="Hombre" name="genero" value="Hombre" [(ngModel)]="usuario.genero" >
    <label class="italic" for="Hombre">Hombre</label>
    <input type="radio" id="Mujer" name="genero" value="Mujer" [(ngModel)]="usuario.genero">
    <label class="italic" for="Mujer">Mujer</label>
</div><br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="title">Email</mat-label>
        <input matInput type="text" class="relleno" placeholder="Email" [(ngModel)]="usuario.email">
      </mat-form-field>
      <button class="login-but" mat-raised-button color="primary" (click)="addUser()">Añadir</button><br />
    </div>
  </div>
  </div>
</div>


<!-- [(ngModel)]="name" -->
<!-- (ngSubmit)="onSubmit()" -->
