.register-but {
  margin-bottom: 10px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}

.relleno {
  font-size: 20px;
  border-radius: 2%;
}

.title {
  color: white;
}

.content {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}
.div-form {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  .form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    align-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 1%;
    width: 300px;
    color: #fff;
  }
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.content-inside {
  position: relative;
}

.gender{
  text-align: center;
}
.italic{
  font-style: italic;
}