.module {
  overflow-y: hidden;
}

button {
  border: none;
  background: none;
}

.module {
  display: flex;

  min-width: 100vh;
  min-height: 100vh;

  background: #f0f0f0;
}

.navbar {
  width: 375px !important;
  min-height: 100vh;
  border-right: 1px solid #d6d6d6;
}

.redNav {
  height: 73px;
  width: 100%;
  background: linear-gradient(225deg, #ff6036, #fd267a);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #e9ebee;
  margin-left: 12px;
  padding: 5px;
  border-radius: 36px;
  transition: 0.3s;
}

.user:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.name {
  font-size: 15px;
  font-weight: 500;
}

.name a {
  text-decoration: none !important;
  color: white !important;
}

.work {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  margin-right: 12px;
  transition: 0.3s;
}

.work:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.rateo {
  height: 24px;
  width: 24px;
  color: white;
  margin: 2px;
  display: flex;
  align-content: center;
  text-align: center;
}

.rateo path {
  fill: white;
}

.fa-suitcase {
  color: white;
  font-size: 20px;
  margin: 2px;
}

.gold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 138px;
  padding: 16px;
}

.gold svg {
  padding-bottom: 16px;
}

.line {
  height: 4.5px;
  width: 160px;
  background: linear-gradient(135deg, #c1920f, #e6ae16 42%, #f7d472);
  border: none;
  margin: 0px;
  margin-top: -4px;
}

.fiftyOff {
  padding: 12px 0px;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.getGold {
  position: relative;
  width: 260px;
  min-height: 50px;
  background: linear-gradient(135deg, #c1920f, #e6ae16 42%, #f7d472);
  border: none;
  padding: 12px 0;
  border-radius: 100px;
  transition: 0.2s;
  z-index: 1;
  color: white;
  font-weight: 700;
}

.getGold::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e6ae16 42%;
  border-radius: 100px;
  transition: opacity 0.2s linear;
  z-index: -1;
  opacity: 0;
}

.getGold:hover::before {
  opacity: 1;
}

.getGold:hover {
  cursor: pointer;
}

.windows {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
}

#matchList {
  translate: 0%;
  transition: 0.4s;
}

#messList {
  translate: 100%;
  transition: 0.4s;
}

#likeList {
  translate: 100%;
  transition: 0.4s;
}

#dislikeList {
  translate: 100%;
  transition: 0.4s;
}

.p-nav {
  background: white;
  min-height: fit-content;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

  padding-top: 14px;
  height: 40px;
}

.p-opt {
  text-align: center;
  width: fit-content;
}

.p-opt button {
  padding: 0 8px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  font: 500 14px / 20px Roboto, "Helvetica Neue", sans-serif;
}

.invis {
  height: 3px;
  background: #ff4458;
  border: none;
  margin-bottom: 0px;
  margin-top: 2px;
  width: 100%;
  transition: 0.4s;
  align-self: center;
}

#iMatch {
  opacity: 1;
}

#iMess {
  translate: -120%;
  opacity: 0;
}

#iLike {
  translate: -375%;
  opacity: 0;
}

#iDis {
  translate: -400%;
  opacity: 0;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 0px;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto !important;
  overflow-x: hidden;
  background: white;
  border-right: 1px solid #d6d6d6;
}

.profiles::-webkit-scrollbar {
  display: none;
}

.profiles {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.p-card {
  padding: 8px;
  transition: all 0.2s ease-in-out;
  width: 103px;
  height: 120px;
}

.p-card:hover {
  transform: scale(1.1);
}

.p-message {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border-right: 5px solid transparent;
  z-index: 0;
  transition: 0.3s;
}

.p-message:hover {
  border-right-color: #ff4458;
  box-shadow: 0 0 15px 0 hsla(0, 0%, 50.6%, 0.22);

  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

.messImg {
  flex-grow: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.messSize {
  width: 74px;
  height: 74px;
  position: relative;
  border-radius: 50%;
}

.messText {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 10px;
  overflow: hidden;
}

.messName {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.innerName {
  margin: 0;
  font-weight: 500;
}

.innerCheck {
  display: inline-block;
  flex-shrink: 0;
  height: 18px;
  line-height: 0;
  margin-left: 4px;
  width: 18px;
}

.messMessage {
  color: #7b828b;
}

.pic {
  height: 120px !important;
  width: 100%;
  border-radius: 5px;
  position: relative;
  margin-left: 0px !important;
  margin-right: 0px !important;
  will-change: transform;
  display: inline-block;
}

.innerPic {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  background-repeat: no-repeat;
  background-color: #f0f2f4;
  border-radius: 5px;
}

.profileText {
  transform: translateZ(0);
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  height: 25%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    hsla(0, 0%, 100%, 0)
  );
}

.p-text {
  width: 90%;
  position: absolute;
  left: 6px;
  bottom: 6px;
  margin-top: 4px;
  font-weight: 800;
  color: white;
  white-space: pre-wrap;
  display: block;
}

.p-text-inner {
  position: absolute;
  display: flex;
  bottom: 0;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

// PROFILE CONTAINER

.profile-container {
  width: calc(100vw - 375px);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f0f0f0;
  opacity: 1;
}

.card-container {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlace {
  text-decoration: none;
  color: white;
}

.transparent {
  width: 100vw;
  height: 100vh;
  background: transparent;
  visibility: hidden;
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-up {
  width: 350px;
  height: 270px;
  visibility: hidden;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  padding: 10px;
  font-style: italic;
  border-radius: 2pc;
  color: black;
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 4px solid linear-gradient(135deg, #c1920f, #e6ae16 42%, #f7d472);
  .cont {
    height: 300px;
  }
  .butt {
    font-size: 40px;
    cursor: pointer;
    color: white;
    :hover {
      color: rgb(112, 105, 105);
    }
  }
}
