.content {
  box-shadow: 2px 2px 22px 2px rgb(66, 64, 64);
  border-radius: 20px;
}

.card {
  width: 300px;
  height: 450px;
  // background-color: rgb(121, 190, 202);
  background: linear-gradient(260deg, #ff6036, #fd267a);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .card__image-element {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }

  .card__image-container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    align-self: flex-start;
  }

  .card__info-container {
    width: 300px;
    height: 100px;
    // background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .card__user-name {
    font-size: 2rem;
    margin: 0 0 10px 0;
    padding: 15px 0 0 15px;
    color: white;
  }

  .card__user-info {
    font-size: 1rem;
    margin: 0;
    padding: 15px 0 0 15px;
  }
}

.icon-info {
  font-size: 25px;
  color: white;
}

.but {
  background-color: transparent;
  border: transparent;
  margin-top: 0.1vh;
  margin-right: 1vh;
  cursor: pointer;

  :hover {
    color: #fd267a;
  }
}


.but-fun {
  font-size: 50px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  opacity: 0.7;

  .like {
    color: #effd26;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;

    :hover {
      color: #606613;
    }
  }

  .dislike {
    color: #1f60aa;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;

    :hover {
      color: #070833;
    }
  }

  .turbo {
    color: #7826fd;
    // background-color: #fd267a;
    padding: 4px 6px;
    border-radius: 1em;
    font-size: 45px;

    :hover {
      color: #2a0e57;
    }
  }

  .superlike {
    color: #26fdab;
    // background-color: #fd267a;
    // margin-bottom: 2px;
    // padding: 4px 3px;
    padding-bottom: 2px;
    border-radius: 1em;
    font-size: 45px;

    :hover {
      color: #0f5037;
    }
  }
}

.info {
  scroll-behavior: smooth;
  background: linear-gradient(260deg, #ff6036, #fd267a);
  border-radius: 0px;
  margin-top: -85px;
  padding: 0px 12px 5px 10px;
  color: white;

  .hobbie {
    border: solid 2px rgb(80, 74, 74);
    width: 13vh;
    text-align: center;
    border-radius: 20px;
  }
}

.icons {
  margin-bottom: 2%;
}
 .pop-up{
 background:linear-gradient(260deg, #ff6036, #fd267a);
 border-radius: 5px;
 color:white;
 font-size: 35px;
 font-style: italic;
 font-family: "Brush Script MT";
 position: absolute;
  width: 400px;
 height: 430px;
 top: 24px;
  left: 20%;
  padding: 13px;
  padding-top: 2%;
line-height: 40px;
text-align: center;
box-shadow: 2px 2px 22px 2px rgb(66, 64, 64);



.fotosMatch{
display:flex;

justify-content:center;
padding-top: 6%;

  .imgMatch{
    width: 180px;
    height: 230px;
  object-fit: cover;
  padding: 2px;
  }
}

}
