.content{
  box-shadow: 2px 2px 22px 2px rgb(66, 64, 64);
  border-radius: 20px;
}

.card {
  width: 300px;
  height: 450px;
  background-color: rgb(121, 190, 202);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .card__image-element{
    width: 300px;
    height: 100%;
    object-fit: cover;
  }

  .card__image-container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    align-self: flex-start;
  }

  .card__info-container {
    width: 300px;
    height: 100px;
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .card__user-name {
    font-size: 2rem;
    margin: 0 0 10px 0;
    padding: 15px 0 0 15px;
  }

  .card__user-info {
    font-size: 1rem;
    margin: 0;
    padding: 15px 0 0 15px;
  }
}

.icon-info{
  font-size: 25px;
  
}

.but{
  background-color: transparent;
  border: transparent;
  margin-top: -35px;
  cursor:pointer;
  :hover{
    color: #fd267a;
  }
}

.but-fun{
  font-size: 50px;
  background-color: transparent;
  border: transparent;
  cursor:pointer;
  .like{
    color: #fd267a;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;
    :hover{
      color: #701236;
    }
  }
  .dislike{
    color: #fd2626;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;
    :hover{
      color: #701212;
    }
  }
}
