<div class="content" id="content">
  <div class="card">
    <div class="card__image-container">
      <img class="card__image-element" src="{{user?.foto}}" alt="">
    </div>
    <div class="card__info-container">
      <h2 class="card__user-name">{{user?.name}}, {{user?.edad}}</h2>
      <button class="but" (click)="verDetalles()" (click)="verIcons()"><span class="icon-info"><i
            class="fas fa-info-circle"></i></span></button>
    </div>
    <div class="icons" *ngIf="VerIcons==true">
      <button class="but-fun"><span class="superlike"><i class="fas fa-star"></i></span></button>
      <button class="but-fun" (click)="darLike()"><span class="like"><i class="far fa-heart"></i></span></button>
      <button class="but-fun" (click)="darDislike()"><span class="dislike"><i
            class="far fa-times-circle"></i></span></button>
      <button class="but-fun"><span class="turbo"><i class="fas fa-bolt"></i></span></button>
    </div>
  </div>
  <div class="info" *ngIf="VerDetalles==true">
    <p *ngIf="user.localidad!=undefined"><span><i class="fas fa-home"></i></span>Vive en {{user.localidad}} (<span
        *ngIf="user.genero!=undefined">{{user.genero}}</span>)</p>
    <p class="hobbie" *ngIf="user.cinefilo!=false"><span><i class="fas fa-film"></i></span> Cinefilo Lover</p>
    <p class="hobbie" *ngIf="user.playa!=false"><span><i class="fas fa-umbrella-beach"></i></span> Playa Lover</p>
    <p class="hobbie" *ngIf="user.fumador!=false"><span><i class="fas fa-smoking"></i></span> Fumador Lover</p>
    <p class="hobbie" *ngIf="user.deportista!=false"><span><i class="fas fa-running"></i></span> Deportista</p>
  </div>
</div>
 <div class="pop-up" *ngIf="VerPopUp==true">
<p>It´s a Match!</p>
<p class="fotosMatch">
  <img class="imgMatch" src="{{user?.foto}}" alt="">
  <img class="imgMatch" src="{{Yo?.foto}}" alt=""></p>


<button class="login-but" mat-raised-button color="secondary" >Empezar Chat</button><br />
<button class="login-but" mat-raised-button color="primary" (click)="verPopUp()">¡Genial!</button><br />
</div>
