.content {
  box-shadow: 2px 2px 22px 2px rgb(66, 64, 64);
  border-radius: 20px;
}

.card {
  width: 300px;
  height: 500px;
  // background-color: rgb(121, 190, 202);
  background: linear-gradient(260deg, #ff6036, #fd267a);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .card__image-element {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }

  .card__image-container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    align-self: flex-start;
  }

  .card__info-container {
    width: 300px;
    height: 100px;
    // background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .card__user-name {
    font-size: 2rem;
    margin: 0 0 10px 0;
    padding: 15px 0 0 15px;
    color: white;
  }

  .card__user-info {
    font-size: 1rem;
    margin: 0;
    padding: 15px 0 0 15px;
  }
}

.icon-info {
  font-size: 25px;
  color: white;
}

.but {
  background-color: transparent;
  border: transparent;
  margin-top: -35px;
  cursor: pointer;

  :hover {
    color: #fd267a;
  }
}


.but-fun {
  font-size: 50px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  .like {
    color: #effd26;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;

    :hover {
      color: #606613;
    }
  }

  .dislike {
    color: #1f60aa;
    // background-color: #fd267a;
    padding: 4px 5px;
    border-radius: 1em;

    :hover {
      color: #070833;
    }
  }

  .turbo {
    color: #7826fd;
    // background-color: #fd267a;
    padding: 4px 6px;
    border-radius: 1em;
    font-size: 45px;
    :hover {
      color: #2a0e57;
    }
  }
  .superlike {
    color: #26fdab;
    // background-color: #fd267a;
    margin-bottom: 2px;
    // padding: 4px 3px;
    border-radius: 1em;
    font-size: 45px;
    :hover {
      color: #0f5037;
    }
  }
}

.info{
  scroll-behavior: smooth;
  background: linear-gradient(260deg, #ff6036, #fd267a);
  border-radius: 0px;
}

button.but:checked ~ div.icons {
	display:none !important;
}

// div.icons{
//   display:none;
// }

button{
  visibility: visible;
}
button:checked ~ .icons{
  display: none;
}
button:checked ~ .icons{
  display: block;
}
.icons{
  display: block;
}


