<div class="content" *ngIf="hasRoute('/')">
  <div class="content-inside">
    <div class="icon-content">
      <img class="logo-icon" src="../assets/Lucatinder(SinFondo).png" />
    </div>
    <div class="register" *ngIf="hasRoute('/')">
      <!-- <div class="bottom">
          <button id="myBtn" (click)="information()">oli</button>
        </div> -->
      <!-- <button class="register-but" mat-raised-button routerLink="formulario" color="accent">Open file</button> -->
      <!-- <p>Holi</p> -->
      <button class="register-but" mat-raised-button color="accent" routerLink="/register">
        Register</button><br />
      <button class="register-but" mat-raised-button color="accent" routerLink="/login">
        Login
      </button>
    </div>
    <div class="footer">
      <div class="legal">
        <span class="h2">LEGAL</span><br><br>
        <a class="enlaces_footer" href="https://policies.tinder.com/privacy/intl/es-es">Privacidad</a><br>
        <a class="enlaces_footer" href="https://policies.tinder.com/terms/intl/es-es">Condiciones</a><br>
        <a class="enlaces_footer" href="https://policies.tinder.com/cookie-policy/intl/es-es">Política de cookies</a><br>
        <a class="enlaces_footer" href="https://policies.tinder.com/intellectual-property/intl/es-es">Propiedad intelectual</a><br>
      </div>
      <div class="work">
        <span class="h2">TRABAJO</span><br><br>
        <a class="enlaces_footer" href="https://tinder.com/es-ES/jobs">Portal de empleo</a><br>
        <a class="enlaces_footer" href="https://medium.com/tinder-engineering?lang=es-ES">Blog tecnológico</a><br>
      </div>
      <div class="rrss">
        <span class="h2">REDES SOCIALES</span><br><br>
        <a class="enlace_icon icon" href="https://www.instagram.com/tinder/?hl=es"><i class="fab fa-instagram"></i></a>
        <a class="enlace_icon icon" href="https://www.youtube.com/channel/UCsPrzq5y7SdGd_Lr7YTnoIQ"><i class="fab fa-youtube"></i></a>
        <a class="enlace_icon icon" href="https://twitter.com/Tinder"><i class="fab fa-twitter"></i></a>
        <a class="enlace_icon icon" href="https://www.facebook.com/tinder"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="compement"><br>
        Preguntas Frecuentes <br>
        Destinos <br>
        Prensa <br>
        Contacto <br>
        Código promocional
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>