<div class="content">
  <div class="content-inside">
    <div class="icon-content">
      <img class="logo-icon" src="../assets/Lucatinder(SinFondo).png" />
    </div>
    <div class="register" *ngIf="hasRoute('/')">
      <!-- <div class="bottom">
          <button id="myBtn" (click)="information()">oli</button>
        </div> -->
      <!-- <button class="register-but" mat-raised-button routerLink="formulario" color="accent">Open file</button> -->
      <!-- <p>Holi</p> -->
      <button class="register-but" mat-raised-button *ngIf="hasRoute('/')" color="accent" routerLink="/register">
        Register</button><br />
      <button class="register-but" mat-raised-button *ngIf="hasRoute('/')" color="accent" routerLink="/login">
        Login
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>
