<div class="content" *ngIf="hasRoute('/')">
  <div class="content-inside">
    <div class="icon-content">
      <img class="logo-icon" src="../assets/Lucatinder(SinFondo).png" />
    </div>
    <div class="register">
      <!-- <div class="bottom">
          <button id="myBtn" (click)="information()">oli</button>
        </div> -->
      <!-- <button class="register-but" mat-raised-button routerLink="formulario" color="accent">Open file</button> -->
      <!-- <p>Holi</p> -->
      <button class="register-but" mat-raised-button color="accent" routerLink="/register">
        Register</button><br />
      <button class="register-but" mat-raised-button color="accent" routerLink="/login">
        Login
      </button>
    </div>
    <div class="footer">
      <div class="foot1">
        <div class="legal">
          <span class="h2">LEGAL</span><br><br>
          <a class="enlaces_footer" href="https://policies.tinder.com/privacy/intl/es-es">Privacidad</a><br>
          <a class="enlaces_footer" href="https://policies.tinder.com/terms/intl/es-es">Condiciones</a><br>
          <a class="enlaces_footer" href="https://policies.tinder.com/cookie-policy/intl/es-es">Política de
            cookies</a><br>
          <a class="enlaces_footer" href="https://policies.tinder.com/intellectual-property/intl/es-es">Propiedad
            intelectual</a><br>
        </div>
        <div class="work">
          <span class="h2">TRABAJO</span><br><br>
          <a class="enlaces_footer" href="https://tinder.com/es-ES/jobs">Portal de empleo</a><br>
          <a class="enlaces_footer" href="https://medium.com/tinder-engineering?lang=es-ES">Blog tecnológico</a><br>
        </div>
        <div class="rrss">
          <span class="h2">REDES SOCIALES</span><br><br>
          <a class="enlace_icon icon" href="https://www.instagram.com/tinder/?hl=es"><i
              class="fab fa-instagram"></i></a>
          <a class="enlace_icon icon" href="https://www.youtube.com/channel/UCsPrzq5y7SdGd_Lr7YTnoIQ"><i
              class="fab fa-youtube"></i></a>
          <a class="enlace_icon icon" href="https://twitter.com/Tinder"><i class="fab fa-twitter"></i></a>
          <a class="enlace_icon icon" href="https://www.facebook.com/tinder"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="compement">
          <a class="enlaces_footer" href="https://tinder.com/es-ES/faq">Preguntas Frecuentes</a><br>
          <a class="enlaces_footer" href="https://tinder.com/es-ES/places">Destinos</a><br>
          <a class="enlaces_footer" href="https://es.tinderpressroom.com/?lang=es-ES">Prensa</a><br>
          <a class="enlaces_footer" href="https://policies.tinder.com/contact/intl/es-es">Contacto</a><br>
          <a class="enlaces_footer" href="#">Código promocional</a><br>
        </div>
      </div>
      <hr class="linea">
      <div class="foot2">
        <span class="h2">¡CONSIGUE LA APP!</span>
        <a href="https://apps.apple.com/es/app/tinder-citas-y-amigos/id547702041"><img class="imgfoot2"
            src="../assets/ap.png" alt="App Store"></a>
        <a href="https://play.google.com/store/apps/dev?id=8070166968320699506&gl=ES"><img class="imgfoot2"
            src="../assets/gp.png" alt="App Store"></a>
      </div>
      <div class="foot3">
        <p>
          ¡Atención, solteros y solteras del mundo entero! Si queréis encontrar el amor, buscáis nuevos amigos o os lo
          queréis tomar con calma, Tinder es vuestra app de citas. Con más de 55 mil millones de matches, es el lugar
          ideal para encontrar lo que buscas. Seamos sinceros: el mundo de las relaciones es muy diferente hoy en día,
          porque mucha gente se conoce de forma virtual. Con Tinder, la app de citas gratuita más popular del mundo,
          tienes millones de personas solteras a tu alcance… ¡y todas quieren conocer a gente como tú! Tanto si eres
          hetero como si perteneces a la comunidad LGTBI+, en Tinder conseguirás que salten las chispas.

          En Tinder, siempre encontrarás lo que buscas. ¿Quieres empezar una relación? ¡Hecho! ¿Quieres hacer nuevos
          amigos? Ningún problema. ¿Eres nuevo en la facultad y quieres aprovechar al máximo tu experiencia en la uni?
          Tinder U es para ti. Tinder no es una app de citas cualquiera — es la app de citas más diversa del mundo.
          Aquí, gente adulta con todo tipo de historias y experiencias previas aprovecha para hacer amigos, vivir
          aventuras… ¡y lo que surja!
        </p>
      </div>
      <hr>
      <div class="foot4">
        <a class="enlaces_footer" href="https://tinder.com/es-ES/faq">Preguntas Frecuentes</a>/
        <a class="enlaces_footer" href="https://tinder.com/es-ES/places">Destinos</a>/
        <a class="enlaces_footer" href="https://es.tinderpressroom.com/?lang=es-ES">Prensa</a>/
        <a class="enlaces_footer" href="https://policies.tinder.com/contact/intl/es-es">Contacto</a>/
        <a class="enlaces_footer" href="#">Código promocional</a>
      </div>
      <div class="foot5">
        <i class="fas fa-eye"></i>
        2021 Lucatic Group One, LT, todos los derechos reservados.
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
