
.content {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.content-inside {
  position: relative;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  .register-but{
    margin: 10px;
    height: 50px;
    width: 120px;
    font-size: 20px;
  }
}

.footer{
  position: relative;
  top: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 4%;
  .legal{
    background-color: rgba(79, 177, 207, 0.459);
  }
  .work{
    background-color: rgba(241, 138, 124, 0.575);
  }
  .rrss{
    background-color: rgba(131, 245, 131, 0.671);
    text-align: center;
  }
  .compement{
    background-color: rgb(255, 255, 143);
  }
}
.enlaces_footer{
  text-decoration: none;
  color: white;
  &hover{
    color: black;
  }
}

.h2{
  font-size: 25px;
}

.icon{
  color: white;
  padding: 6%;
  font-size: 20px;
}


